.sec-container {
    background: #ecf0f1;
    padding: 5px;
    border-radius: 30px;
    margin: 20px;
}

.comment div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.comment span {
    font-size: 15px;
    font-weight: 100;
}

.comment p {
    color: rgb(122, 122, 122);
    font-size: 12px;
}

/* createComment */


.createComment input, .createComment textarea {
    background: #ecf0f1;
    outline: none;
    border: none;
    border-bottom: 2px solid #000;
}

.createComment span {
    font-size: 10px;
    color: crimson;
}

@media only screen and (max-width: 600px) {
    .createComment {
        width: 100%;
    }
    .createComment input, .createComment textarea {
        background: #ecf0f1;
        width: 100%;
    }
    .createComment span {
        font-size: 5px;
    }
}

